/bin
/.classpath
/.project
/.settings
/.idea
/*.iml
/maunz.log
/maunz-old.log
/target/generated-sources/
/target/test-classes/
/target/classes/com/
/target/classes/data/
/target/classes/config.json
/out/